<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Product Length</h4>
                <div class="create_button" data-toggle="modal" data-target="#exampleModal">
                    <!-- <button type="btn" class="add-product">Add Product</button> -->
                    <button type="button" class="productsize">
                      Add ProductLength
                    </button>
                  </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                S.No
                            </th>
                            <th>
                                Feet
                            </th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lengths of getlenghts; let i = index">
                                <td>
                                    {{ i + 1 }}
                                </td>
                                <td>
                                    {{ lengths?.length }}
                                </td>
                                <td>
                                  <button class="btn-blue" type="button"
                                  (click)="OnEdit(lengths)">
                                  <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn-red" type="button" (click)="Delete(lengths)">
                                  <i class="fa fa-trash"></i>
                                </button>
                               </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Create Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product Length Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modelClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addingLength">
          <div class="row">
          
           <div class="col-md-6 form-group">
              <div class="language_list">
                <label>Feet<sup>
                  <i class="fa fa-asterisk" aria-hidden="true"></i>
                </sup></label>
              <input type="text" placeholder="Enter Product Length" class="form-control" formControlName="length" />
              </div>
            </div>

            <div class="col-md-12">
              <div class="create_length">
                <button class="btn" (click)="createLength()">Create Length</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--edit model -->
<div class="modal fade" id="EditProductModal" tabindex="-1" role="dialog" aria-labelledby="EditProductModal"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="EditProductModal">Product Info</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editLengthForm">
        <div class="row">
          <div class="col-md-6 form-group">
            <label>Feet
              <sup>
                <i class="fa fa-asterisk" aria-hidden="true"></i>
              </sup>
            </label>
            <input type="text" placeholder="" class="form-control" formControlName="editlength" [class.is-invalid]="
                (editLengthForm.get('editlength')?.invalid &&
                editLengthForm.get('editlength')?.touched) ||
                (editLengthForm.get('editlength')?.pristine && hasError)
              " />

            <span class="error" *ngIf="
                (editLengthForm.get('editlength')?.invalid &&
                editLengthForm.get('editlength')?.touched) ||
                (editLengthForm.get('editlength')?.pristine && hasError)
              ">
              Please enter your Product Length
            </span>
          </div>
     
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="UpdateLength()">Update Length</button>
    </div>
  </div>
</div>
</div>